h1 {
  display: inline-block;
  padding: .5em 1em;
  background: rgb(255, 217, 0);
  margin-bottom: 2em;
}

section {
  margin-bottom: 8em;
}

h2 {
  width: 300px;
  margin: 0 auto;
  padding: .5em 1em;
  background: black;
  color: white;
}

.example {
  margin-top: .5em;
  margin-bottom: 2em;
}

.example a {
  color: rgb(51, 194, 191);
}

.p300x600 {
  width: 300px;
}

.p970x90 {
  width: 970px;
}

.p728x90 {
  width: 728px;
}

.p300X50 {
  width: 300px;
}